.img {
    height: 20px;
    width: auto;
}

body {
    background: url(img/2.png) center top;
}

.top {
    font-family: Century Gothic;
    font-style: bold;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1 px;
    position: relative;
    z-index: 20;
    padding-top: 30px;
}

.top li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1em;
    padding: 0;
}

.top a {
    padding: 0.5em 0.8em;
    margin: 0.2em 0;
    display: absolute;
    color: grey;
    text-decoration: none;
}

.a {
    color: #fff;
}

.row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

.top-1 {
    padding: 40px 0 50px;
    position: relative;
    overflow: hidden;
}

.img {
    height: relative;
}

.ul {
    padding: 0px;
    position: relative;
}

.li {
    width: 23.24%;
    position: relative;
    height: 100;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.nav-bar {
    display: flex;
    padding: 2% 4%;
}

.nav-logo img {
    width: 100px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul a li:hover {
    border-bottom: 1px solid #ffffff;
    padding: 2px;
}

.hero {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

span {
    width: 80px;
    height: 80px;
    top: 80px;
    position: absolute;
    background: floralwhite;
    z-index: -1;
    transition: .1s;
}

span:nth-child(1) {
    left: -20px;
    transition-delay: .1s;
}

span:nth-child(2) {
    left: -30px;
    transition-delay: .3s;
}

span:nth-child(3) {
    left: 20px;
    transition-delay: .5s;
}

span:nth-child(4) {
    left: 50px;
    transition-delay: .7s;
}

span:nth-child(5) {
    left: 125px;
    transition-delay: .9s;
}

.btn:hover p {
    color: #428ce0;
    transition-delay: .5s;
}

.btn:hover span {
    top: -10px
}

.menu-icon {
    width: 30px;
    display: none;
}

.social-icons {
    width: 50px;
    position: absolute;
    top: 75%;
    left: 0;
}

.social-icons img {
    display: block;
    width: 19px;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media(max-width:700px) {
    .hero h1 {
        font-size: 26px;
        margin-bottom: 1%;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links ul {
        padding: 1px;
        position: relative;
        z-index: 1;
        background-color: #3e7aeb;
        text-align: center;
        margin-top: 30px;
    }
    .nav-logo {
        margin-top: 10px;
        margin-left: 10px;
    }
    .menu-icon {
        display: block;
        top: 20px;
        right: 35px;
        position: absolute;
        cursor: pointer;
    }
    #mobileMenu {
        height: 0;
        padding: 8px;
        overflow: hidden;
        transition: 1s;
    }
}

@media(max-width:420px) {
    .hero h1 {
        font-size: 20px;
    }
}

@media(max-width:320px) {
    .hero h1 {
        font-size: 18px;
    }
}

.top li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1em;
    padding: 0;
}

.top a {
    padding: 0.5em 0.8em;
    margin: 0.2em 0;
    display: absolute;
    color: grey;
    position: relative;
    text-decoration: none;
}

.top a:before,
.top9 a:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.top a:before {
    left: 0;
    top: 0;
    border-left: 3px solid #54a1e0;
    border-top: 3px solid #54a1e0;
    -webkit-transform: translate(100%, 50%);
    transform: translate(100%, 50%);
}

.top a:after {
    right: 0;
    bottom: 0;
    border-right: 3px solid #54a1e0;
    border-bottom: 3px solid #54a1e0;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.top a:hover,
.stop .current a {
    color: black
}

.top a:hover:before,
.top .current a:before,
.top a:hover:after,
.top .current a:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}