.header {
    color: #fff;
    text-align: center;
    padding: 20px 0px 0 px;
    background-color: white;
}

.img {
    height: 20px;
    width: auto;
}

.top {
    font-family: Century Gothic;
    font-style: bold;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1 px;
    position: relative;
    z-index: 20;
    padding-top: 30px;
}

.top li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1em;
    padding: 0;
}

.top a {
    padding: 0.5em 0.8em;
    margin: 0.2em 0;
    display: absolute;
    color: grey;
    text-decoration: none;
}

.mask h1 {
    font-family: Century Gothic;
    font-size: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 0px 5px 0px;
    margin: -2020px 0 0 0;
    z-index: 100;
    line-height: 1.1em;
}

.mask h1 {
    opacity: 0;
    transform: translate(-140 px);
    transition: all 0.2s ease-in-out;
}

.image:hover .mask h1 {
    opacity: 1;
    transform: translateY(- 150px);
}

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    line-height: 1.5;
    color: #333;
}

.a {
    color: #fff;
}

.row {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

.top-1 {
    padding: 40px 0 50px;
    position: relative;
    overflow: hidden;
}

.img {
    height: relative;
}

.ul {
    padding: 0px;
    position: relative;
}

.li {
    width: 23.24%;
    position: relative;
    height: 100;
}


/*articulos*/

section h2 {
    font-family: 'laila';
    color: #00adb5;
}

section h2:hover {
    color: #fff;
}

section#article {
    display: inline-block;
    float: left;
    width: 600px;
}

section p {
    font-family: 'laila';
    text-align: left;
    padding: 50px;
    color: #00adb5;
    font-weight: bold;
    text-align: justify;
}

.btn {
    box-sizing: border-box;
    background-color: #00adb5;
    padding: 10px 10px 10px 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'laila';
    margin: 2%;
    border-radius: 10px;
    position: absolute;
    padding: 5px 10px;
    right: -15px;
}

.btn:hover {
    color: #B71C1C;
}

section#article {
    width: 100%;
    padding: 10px 50px;
}

section#article2 {
    width: 100%;
    padding: 10px 50px;
}

.container1 {
    margin-top: auto;
    margin-bottom: 200px;
    margin-right: 50px;
    margin-left: 50px;
    display: center;
}

.container2 {
    margin-top: -740px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 800px;
    display: inline-block;
}